<% layout('/layouts/boilerplate') %>

<div class="row">

    <div class="alert alert-danger col-6 offset-3 mt-5" role="alert">
<h1>Error <%= statusCode %></h1>
<p><%= message %></p>

<a href="/listings">Go back</a>
</div>
</div>